{% extends "base.html" %}
{% block title %}Профиль | Личный кабинет{% endblock %}
{% block content %}
<h1>Редактирование профиля</h1>
<nav class="page-nav">
    {% for item in cabinet_menu %}
        <a href="{{ item.url }}" class="{% if request.resolver_match.view_name == item.view_name %}is-active{% endif %}">
            {{ item.label }}
        </a>
    {% endfor %}
</nav>
<form method="post" class="form">
    {% csrf_token %}
    <fieldset>
        <legend>Основные данные</legend>
        {{ user_form.as_p }}
    </fieldset>
    <fieldset>
        <legend>Данные студента</legend>
        {{ profile_form.as_p }}
    </fieldset>
    <button type="submit">Сохранить изменения</button>
</form>
{% endblock %}
